*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    overflow-y: hidden
}

.flex-container{
    display:flex;
    flex-flow:row;
    /* flex-flow:row nowrap;
    justify-content:space-between; */
    height:100vh;
}

.sidebar-flex-container{
    flex: 0 0 20%;
    flex-flow: column nowrap;
    text-align: center;
    background: lightgreen;
    padding: 10px 10px 10px 10px;
}

    .about h1{
        text-align: center;
    }

    .about p{
        text-align: justify;
    }

.content-flex-container{
    flex: 1 1 80%;
    overflow-y: auto;
}

.content{
    margin: 0 auto;
    width: 80%;
    height: 100vw;
    padding: 5px 5px 5px 5px;
        border-style: solid;
        border-color: red;
        border-width: 1px;
}

    .intro{
        text-align: center;
            border-style: solid;
            border-color: red;
            border-width: 1px;
    }

    .intro h1{
        font-size: 2.5em;
    }

    .daily-entries{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row; */
    }

        .entry{
            flex-basis: 50%;
                border-style: solid;
                border-color: red;
                border-width: 1px;
        }

        .entry h1{
            font-style: italic;
            text-align: center;
        }

    .mock-button {
        display: inline-block;
        background-color: gray;
        width: 25%;
        padding: 5px 5px;
        text-align: center;

    }

    .mock-button:hover{
        background-color: lightgrey;
    }