.content-grid-container {
    display: grid;
    padding: 0 1em;
    grid-template-row: 1fr 1fr 1fr;
    /* grid-template-rows: 200px; */
    /* justify-content: center;
    align-items: center; */
}

h1{
    padding: 1em 0;
    text-align: center;
}

.mock-project-entry{
    padding: 0.5em 0;
    text-align: center;

    /* border: red 1px solid; */
}

.mock-project-entry:hover {
    
    background-color: #007580;
}

